In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('../mbti_data.csv')
df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [15]:
df['target_ie'] = df['type'].apply(lambda row: row[0])
df['target_sn'] = df['type'].apply(lambda row: row[1])
df['target_tf'] = df['type'].apply(lambda row: row[2])
df['target_jp'] = df['type'].apply(lambda row: row[3])
df.head()

,type,posts,target_ie,target_sn,target_tf,target_jp
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,I,N,F,J
1,ENTP,'I'm finding the lack of me in these posts ver...,E,N,T,P
2,INTP,'Good one _____ https://www.youtube.com/wat...,I,N,T,P
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",I,N,T,J
4,ENTJ,'You're fired.|||That's another silly misconce...,E,N,T,J

In [18]:
print(f"I case: {len(df[df['target_ie'] == 'I'])}")
print(f"E case: {len(df[df['target_ie'] == 'E'])}")

I case: 6676
E case: 1999

In [ ]:
print(f"I case: {len(df[df['target_ie'] == 'I'])}")
print(f"E case: {len(df[df['target_ie'] == 'E'])}")